<!-- 모달 : 주문확인서 -->
<div id="modal-order-confirm" class="modal">
  <div class="modal-header">
    <p>주문 확인서</p>
    <button type="button" class="btn-close-modal">X</button>
  </div>
  <p><span class="content-title">주문번호</span><%= order.order_id %></p>
  <p><span class="content-title">주문자 명</span><%= order.client %></p>
  <p><span class="content-title">음식점명</span><%= order.restaurant %></p>
  <p><span class="content-title">주문 메뉴</span></p>
  <ul>
    <% order.menuDetails.forEach((menu) => { %>
    <li><%= menu.menu_name %> - 수량: <%= menu.count %>개</li>
    <% }) %>
  </ul>
  <p><span class="content-title">주문 금액</span><%= order.totalPayment %></p>
  <p><span class="content-title">주문 시간</span><%= order.order_time %></p>
  <p><span class="content-title">주문 상태</span><%= order.order_status %></p>
</div>

<!-- 모달 : 정보 수정(고객) -->
<div id="modal-user-edit" class="modal">
  <div class="modal-header">
    <p>정보 수정</p>
    <button type="button" class="btn-close-modal">X</button>
  </div>
  <div class="profile-wrap">
    <div class="img-wrap">
      <img src="" alt="" />
    </div>
    <button>사진 변경</button>
    <button>사진 삭제</button>
  </div>
  <div class="input-wrap">
    <label for="">소개</label>
    <textarea name="" id="user-edit-introduction" cols="30" rows="10"></textarea>
  </div>
  <div class="input-wrap">
    <label for="">주소</label>
    <input type="text" id="user-edit-address" />
  </div>
  <div class="input-wrap">
    <input type="text" id="user-edit-phone_number" />
  </div>
  <button id="btn-user-edit">수정하기</button>
</div>

<!-- 모달 : 리뷰 작성(고객) -->
<div id="modal-review-create" class="modal">
  <div class="modal-header">
    <p>정보 수정</p>
    <button type="button" class="btn-close-modal">X</button>
  </div>
  <div class="input-wrap">
    <label for="">평점</label>
    <input type="text" id="review-rating" placeholder="1에서부터 5사이의 숫자를 입력해주세요." />
  </div>
  <div class="input-wrap">
    <label for="">소개</label>
    <textarea name="" id="review-introduction" cols="30" rows="10"></textarea>
  </div>
  <button id="btn-review">작성하기</button>
</div>

<!-- 모달 : 정보 수정(사장) -->
<div id="modal-owner-edit" class="modal">
  <div class="modal-header">
    <p>정보 수정</p>
    <button type="button" class="btn-close-modal">X</button>
  </div>
  <div class="input-wrap">
    <label for="">상호명</label>
    <input type="text" id="owner-edit-name" />
  </div>
  <div class="input-wrap">
    <label for="">사업자 등록번호</label>
    <input type="text" id="owner-edit-owner_number" />
  </div>
  <button id="btn-owner-edit">수정하기</button>
</div>

<!-- 모달 : 정보 수정(가게 정보) -->
<div id="modal-restaurant-edit" class="modal">
  <div class="modal-header">
    <p>가게 정보 수정</p>
    <button type="button" class="btn-close-modal">X</button>
  </div>
  <div class="input-wrap">
    <label for="">가게명</label>
    <input type="text" id="restaurant-edit-name" />
  </div>
  <div class="input-wrap">
    <label for="">주소</label>
    <input type="text" id="restaurant-edit-address" />
  </div>
  <div class="input-wrap">
    <label for="">전화번호</label>
    <input type="text" id="restaurant-edit-phome_number" />
  </div>
  <div class="input-wrap">
    <label for="">영업시간</label>
    <input type="text" id="restaurant-edit-biz_hours" />
  </div>
  <button id="btn-restaurant-edit">적용하기</button>
</div>

<!-- 모달 : 정보 수정(메뉴) -->
<div id="modal-menus-edit" class="modal">
  <div class="modal-header">
    <p>메뉴 수정</p>
    <button type="button" class="btn-close-modal">X</button>
  </div>
  <ul>
    <!-- menus : data로오? 이름 확인 필요 메뉴 데이터임 -->
    <% menus.forEach((menu)=>{ %>
    <li>
      <strong><%= menu.name %></strong>
      <div class="flex-box">
        <p><span class="content-title">이미지</span><%= menu.image %></p>
        <button>이미지 변경</button>
      </div>
      <div class="input-wrap">
        <label for="">음식 이름</label>
        <input type="text" id="menus-edit-name" value="<%= menu.name %>" />
      </div>
      <div class="input-wrap">
        <label for="">가격</label>
        <input type="text" id="menus-edit-name" value="<%= menu.price %>" />
      </div>
    </li>
    <% }) %>
  </ul>
  <button id="btn-menus-edit">적용하기</button>
</div>
