<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
      crossorigin="anonymous"
    ></script>
    <script src="../views/index.ejs" defer></script>
    <script src="../views/static/js/mypage.js" defer></script>
    <title>배달의 팔족</title>
  </head>
  <body>
    <!-- header -->
    <%- include('includes/header') %>
    <!-- main -->
    <main class="my-page">
      <% if (userType === 'client') { %>
      <!-- 유저 템플릿 -->
      <section class="profile-container">
        <div class="profile-wrap">
          <div class="img-wrap">
            <img src="" alt="" />
          </div>
          <div class="text-wrap">
            <h1><%= mypageData.name %>님 안녕하세요!</h1>
            <p><%= mypageData.introduction %></p>
          </div>
        </div>
        <div class="profile-content-wrap">
          <div class="text-wrap">
            <p><span class="content-title">포인트</span><%= mypageData.point %></p>
            <p><span class="content-title">주소</span><%= mypageData.address %></p>
            <p><span class="content-title">전화번호</span><%= mypageData.phone_num %></p>
            <p><span class="content-title">이메일</span><%= mypageData.email %></p>
          </div>
          <button>정보 수정</button>
        </div>
      </section>
      <section class="order-container">
        <ul class="order-list">
          <li class="order-item">
            <p><span class="content-title">주문번호</span><%= orderData.order_id %></p>
            <p><span class="content-title">음식점명</span><%= orderData.restaurant_name %></p>
            <p>
              <span class="content-title">주문메뉴</span>
              <%= orderData.menuDetails[0].menu_name %> <% if (orderData.menuDetails.length > 1) {
              %> 외 <%= orderData.menuDetails.length - 1 %>개 <% } %>
              <button type="button" class="btn-more">더보기></button>
            </p>
            <p><span class="content-title">주문시간</span><%= orderData.order_time %></p>
            <p>
              <span class="content-title">주문시간</span><%= orderData.order_status %><% if
              (orderData.order_status === '접수완료') { %> 30분 소요됨 <% } %>
            </p>
          </li>
        </ul>
      </section>

      <% } else if (userType === 'owner') { %>
      <!-- 사장 템플릿 -->

      <% } else { %>
      <p>잘못된 접근입니다.</p>
      <%}%>
    </main>
    <!-- footer -->
    <%- include('includes/footer') %>
    <script></script>
  </body>
</html>
